<div style="height: 80vh">
  <app-search-bar></app-search-bar>
  <div class="w-full h-[80vh] flex flex-row justify-between overflow-y-scroll">
    <div class="mt-3 w-4/12">
      <img
        src="assets/images/recipe-exemple.png"
        alt="logo"
        class="logo rounded-xl"
        width="w-full"
      />
      <div class="bg-white w-full rounded-xl mt-3 py-4 px-4">
        <p class="font-bold font-baloo text-md text-black">Ingrédients</p>
        <div class="ml-3 mt-2">
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Pavé de saumon</p>
            <p>500 g</p>
          </div>
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Oignon(s) nouveau</p>
            <p>2</p>
          </div>
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Huile d'olive</p>
            <p>1 c. à soupe</p>
          </div>
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Pâtes</p>
            <p>250 g</p>
          </div>
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Crème fraîche (légère)</p>
            <p>5 c. à soupe</p>
          </div>
          <div class="flex flex-row justify-between items-center mb-2">
            <p class="w-1/2 leading-tight">Brin(s) de ciboulette fraîche</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 w-8/12">
      <p class="w-full text-center font-allura text-2xl">Pâtes au saumon</p>
      <div class="ml-4 w-fit flex mt-4">
        <div
          class="bg-white rounded-md flex items-center justify-center h-10 w-10 hover:cursor-pointer hover:bg-[#535353] hover:text-white transition-all duration-600"
        >
          <lucide-icon size="28" [name]="icons.Heart"></lucide-icon>
        </div>
        <div
          class="rounded-md flex items-center justify-center h-10 w-fit ml-3 px-3 bg-[#535353] text-white hover:cursor-pointer"
        >
          <p>For 4 persons</p>
        </div>
        <div
          class="bg-white rounded-md flex items-center justify-center h-10 w-fit ml-3 px-3 hover:cursor-pointer hover:bg-[#535353] hover:text-white transition-all duration-600"
        >
          <p>For 6 persons</p>
        </div>
        <div
          class="bg-white rounded-md flex items-center justify-center h-10 w-10 ml-3 hover:cursor-pointer hover:bg-[#535353] hover:text-white transition-all duration-600"
        >
          <lucide-icon size="28" [name]="icons.CirclePlus"></lucide-icon>
        </div>
      </div>
      <div class="ml-4 w-full flex flex-row mt-4 items-center">
        <lucide-icon size="18" [name]="icons.Clock"></lucide-icon>
        <p class="font-baloo ml-4">Preparing time : 30 minutes</p>
      </div>
      <div class="ml-4 w-full flex flex-col mt-2">
        <div class="bg-white w-11/12 rounded-xl py-2 px-4 mb-3">
          <p class="font-bold font-baloo text-2xl">Step 1</p>
          <p class="text-sm text-gray-500">
            Peel and chop the onions. Remove the skin from the salmon if you
            have chosen a skin-on salmon. Then cut into large cubes. Cook the
            pasta “al dente”. Once cooked, cool completely under running water
            and set aside.
          </p>
        </div>
        <div class="bg-white w-11/12 rounded-xl py-2 px-4 mb-3">
          <p class="font-bold font-baloo text-2xl">Step 2</p>
          <p class="text-sm text-gray-500">
            Peel and chop the onions. Remove the skin from the salmon if you
            have chosen a skin-on salmon. Then cut into large cubes. Cook the
            pasta “al dente”. Once cooked, cool completely under running water
            and set aside.
          </p>
        </div>
        <div class="bg-white w-11/12 rounded-xl py-2 px-4 mb-3">
          <p class="font-bold font-baloo text-2xl">Step 3</p>
          <p class="text-sm text-gray-500">
            Peel and chop the onions. Remove the skin from the salmon if you
            have chosen a skin-on salmon. Then cut into large cubes. Cook the
            pasta “al dente”. Once cooked, cool completely under running water
            and set aside.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
