<nav class="">
  <div class="flex flex-row items-center justify-between bg-bg-color p-4">
    <div class="flex flex-row items-center justify-center">
      <img
        src="assets/images/logo.png"
        alt="logo"
        class="logo"
        width="50"
        height="50"
      />
      <a routerLink="/" class="logo ml-4 text-2xl font-baloo font-bold"
        >RecipeHub</a
      >
    </div>
    <ul class="flex flex-row items-center justify-around w-3/5 mr-8">
      <li>
        <a
          routerLink="/overview"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
          ><lucide-icon
            size="28"
            class="mr-2"
            [name]="icons.LayoutDashboard"
          ></lucide-icon>
          Overview</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
          ><lucide-icon
            size="28"
            class="mr-2"
            [name]="icons.ChefHat"
          ></lucide-icon
          >Recipes</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
          ><lucide-icon
            size="28"
            class="mr-2"
            [name]="icons.CalendarDays"
          ></lucide-icon
          >Meal program</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
          ><lucide-icon
            size="28"
            class="mr-2"
            [name]="icons.CookingPot"
          ></lucide-icon
          >Equipment</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
          ><lucide-icon
            size="28"
            class="mr-2"
            [name]="icons.ShoppingBasket"
          ></lucide-icon
          >Shopping list</a
        >
      </li>
      <li
        class="bg-bg-button-nav text-text-button-nav py-1 px-1 font-baloo text-xl flex flex-row items-center justify-center rounded-2xl"
      >
        <img
          src="assets/images/profile-photo.jpg"
          alt="logo"
          class="logo rounded-xl"
          width="50"
          height="50"
        />
      </li>
      <!-- <li *ngIf="!isLoggedIn">
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl"
          >Login</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <a
          (click)="logout()"
          class="logout-btn"
          class="bg-bg-button-nav text-text-button-nav py-4 px-4 font-baloo text-xl"
          >Logout</a
        >
      </li> -->
    </ul>
  </div>
</nav>
