@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: #035D44;
  --color-border-dark: #D1ECE4;
  --color-bg-button: #035D44;
  --color-text-button: #D1ECE4;
  --color-bg-button-nav: #FFFFFF;
  --color-text-button-nav: #93C1B4;
  --color-bg-button-active: #535353;
  --color-text-button-active: #FFFFFF;
  --font-baloo: 'Baloo Bhai', cursive, sans-serif;
  --font-allura: 'Allura', cursive, sans-serif;
}

:root {
  --bg-color: #D1ECE4;
  --text-color: #035D44;
}

.dark {
  --bg-color: #06130F; 
  --text-color: #D1ECE4; 
}

body {
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

html.dark a.active {
  background-color: black !important;
  color: #FCF3EA !important;
}
