<div class="parent">
    <div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h1>Sign Up</h1>
  
        <hlm-form-field label="Username">
          <input type="text" hlmInput formControlName="username" placeholder="Enter your username" />
          <div class="text-danger" *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid">
            <span *ngIf="registerForm.controls['username'].errors?.['required']">Username is required</span>
          </div>
        </hlm-form-field>
  
        <hlm-form-field label="Email">
          <input type="email" hlmInput formControlName="email" placeholder="Enter your email" />
          <div class="text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
            <span *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</span>
            <span *ngIf="registerForm.controls['email'].errors?.['email']">Enter a valid email</span>
          </div>
        </hlm-form-field>
  
        <hlm-form-field label="Password">
          <input type="password" hlmInput formControlName="password" placeholder="Enter your password" />
          <div class="text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">
            <span *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</span>
            <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters</span>
          </div>
        </hlm-form-field>
  
        <hlm-form-field label="Confirm Password">
          <input type="password" hlmInput formControlName="confirmPassword" placeholder="Confirm your password" />
          <div class="text-danger" *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].invalid">
            <span *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">Password confirmation is required</span>
          </div>
        </hlm-form-field>
  
        <button class="btn" hlmButton type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  