.overview-container {
  text-align: center;
  padding: 20px;
}

.btn-logout {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-logout:hover {
  background-color: #cc0000;
}
